<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @proponent.name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @proponent.document %>
</p>

<p>
  <strong>Data Nascimento:</strong>
  <%= @proponent.birthday.to_time.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @proponent.address.street %>
</p>

<p>
  <strong>Número:</strong>
  <%= @proponent.address.number %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @proponent.address.neighborhood %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @proponent.address.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @proponent.address.state %>
</p>

<p>
  <strong>Telefone Pessoal:</strong>
  <%= @proponent.personal_phone %>
</p>

<p>
  <strong>Telefone Referência:</strong>
  <%= @proponent.references_phone %>
</p>

<p>
  <strong>Salário:</strong>
  <%= number_to_currency(@proponent.salary, unit: "R$", separator: ",", delimiter: ".") %>
</p>

<p>
  <strong>Desconto INSS:</strong>
  <%= @proponent.inss_discount %>
</p>
