<div class="container-fluid pt-4">
  <% if notice.present? %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <h4 class="mb-4"><%= I18n.t 'views.proponents' %></h4>
  <%= link_to I18n.t('views.new_proponent'), new_proponent_path, class: 'btn btn-primary mb-4' %>

  <table id="proponents_list" class="table table-striped table-hover table-sm">
    <thead>
    <tr>
      <th><%= I18n.t 'activerecord.attributes.proponent.name' %></th>
      <th><%= I18n.t 'activerecord.attributes.proponent.document' %></th>
      <th><%= I18n.t 'activerecord.attributes.proponent.birthday' %></th>
      <th><%= I18n.t 'activerecord.attributes.proponent.personal_phone' %></th>
      <th><%= I18n.t 'activerecord.attributes.proponent.references_phone' %></th>
      <th class="text-end"><%= I18n.t 'activerecord.attributes.proponent.salary' %></th>
      <th class="text-end"><%= I18n.t 'activerecord.attributes.proponent.inss_discount' %></th>
      <th class="text-center"><%= I18n.t 'views.actions' %></th>
    </tr>
    </thead>
    <tbody>
    <% @proponents.each do |proponent| %>
      <%= render proponent, proponent: proponent %>
    <% end %>
    </tbody>
  </table>
</div>
